aiodns==3.0.0
asynctest==0.13.0
brotli==1.0.9
cchardet==2.1.7
cElementTree==1.0.2-20050302
coloredlogs==15.0.1
ConfigParser==5.2.0
coverage==6.2
cryptography==36.0.1
dl==0.1.0
elementtree==1.2.6-20050316
gunicorn==20.1.0
HTMLParser==0.0.2
idna_ssl==1.1.0
importlib_metadata==4.10.0
ipython==7.31.0
jnius==1.1.0
keyring==23.5.0
lockfile==0.12.2
lxml==4.7.1
mock==4.0.3
nacl==0.0.0
neotermcolor==2.0.10
ordereddict==1.1
orjson==3.6.5
Parser==0.1
protobuf==3.19.1
psutil==5.9.0
pyfiglet==0.8.post1
Pygments==2.11.2
pyOpenSSL==21.0.0
pytest==6.2.5
python-dotenv==0.19.2
pythran==0.11.0
PyYAML==6.0
runtests==0.0.28
simplejson==3.17.6
tokio==0.2.0
toml==0.10.2
tornado==6.1
typing_extensions==4.0.1
unicodedata2==14.0.0
uvloop==0.16.0
wincertstore==0.2.1
xmlrpclib==1.0.1
zipp==3.7.0
edupage-api==0.9.87